{% assign reviews = site.data.data.reviews %}
{% if reviews %}
<section class="section reviews-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ reviews.title }}
  </h2>

  {% if reviews.intro %}
  <div class="intro">
      <p>{{ reviews.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for review in reviews.assignments %}
    <div class="item">

      <span class="review-title">
        {% if review.link %}
        <a href="{{ review.link }}" target="_blank">{{ review.title }}</a>
        {% else %}
        {{ review.title }}
        {% endif %}
      </span>

      {% if review.tagline %}
      - <span class="review-tagline">{{ review.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}
  
  {% if reviews.intro1 %}
  <div class="intro">
      <p>{{ reviews.intro1 }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for review1 in reviews.assignments1 %}
    <div class="item">

      <span class="review-title">
        {% if review1.link1 %}
        <a href="{{ review1.link1 }}" target="_blank">{{ review1.title1 }}</a>
        {% else %}
        {{ review1.title1 }}
        {% endif %}
      </span>

      {% if review1.tagline1 %}
      - <span class="review-tagline">{{ review1.tagline1 }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}
  
  {% if reviews.intro2 %}
  <div class="intro">
      <p>{{ reviews.intro2 }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for review2 in reviews.assignments2 %}
    <div class="item">

      <span class="review-title">
        {% if review2.link2 %}
        <a href="{{ review2.link2 }}" target="_blank">{{ review2.title2 }}</a>
        {% else %}
        {{ review2.title2 }}
        {% endif %}
      </span>

      {% if review2.tagline2 %}
      - <span class="review-tagline">{{ review2.tagline2 }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
